.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      width: fit-content;
      font-size: 28px;
      margin-bottom: 25px;
      font-weight: bold;
      cursor: pointer;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  