.sign-in {
    width: 380px; // 30vw;
    display: flex;
    flex-flow: column;

    h2 {
        margin: 10px 0;
    }

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }
}